*{
    margin: 0%;
    padding: 0%;
}.body{

    animation: shakebody linear 10s infinite;
}
.container{
    height: 200vh;
    width: 400vw;
    position: relative;
    overflow: hidden;
}
    

.sky{

    height:70vh;
    width:400vw;
    background-image:url(" background.jpg");
    position: absolute;
    background-size: cover;
}
.trees{
    top:-40vh;
    height:125vh;
    width:100vw;
    background-image: url("trees.png");
    position: absolute;
    background-size: cover;
    background-repeat:repeat-x;
  animation: treemove linear 6s infinite;
}
.trees2{
    top:-40vh;
    height:125vh;
    width:100vw;
    left: 200vw;
    background-image: url("trees.png");
    position: absolute;
    background-size: cover;
    background-repeat:repeat-x;
   animation: treemove linear 6s infinite;

}

.road{
    top: 70vh;
    height:115vh;
    width: 700vw;
    background-image: url("track.png");
    position:absolute;
    background-size: cover;
    background-repeat: repeat-x;
    animation: carmove linear 3s infinite;
}
.car {
    
    height:22vh;
    width:40vw;
    top: 60vh;
    left: 15vw;
    background-image: url("car_body.png");
   position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    
    animation: shake linear 1s infinite;
}
.wheel1 img{
    top: 9vh;
      width: 59px;
      left:27.4vw;
      position:relative;
      animation: wheelrotation linear .30s infinite;
    


}
.wheel2 img{
    top:-7vh;
    width:58px;
    left: 5.4vw;
    position:relative;
    animation: wheelrotation linear .30s infinite;

}
@keyframes wheelrotation {
    100%{
        transform: rotate(360deg);
    }

}
@keyframes carmove{
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes treemove{
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes shakebody{ 0%{
    transform:translateY(-50px);
}
50%{
    transform: translateY(50px);
}
100%{
    transform: translate(-50px);
}
}
@keyframes skymove{
    100%{
        transform: translateX(-500vw);
    }
}

@keyframes shake
{
0%{
    transform: translateY(-5px);
}
50%{
    transform: translateY(5px);
}
100%{
    transform: translateY(-5px);
}
}
